.navbar {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: black;
}

img {
    width: 250px;
    height: 80px;
}

.navbar-list {
    margin: 0;
    padding: 0;
}

.navbar-list-item {
    margin: 0;
    padding: 0 20px 2px 3px;
    display: inline-block;
}